# Ignore Gradle build output
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# Ignore build artifacts and IDE specific files
/out/
.idea/
*.iml
.vscode/
*.class

# Ignore log files and temporary files
*.log
*.tmp
*.swp
*.DS_Store
*.bak
*.~*

# Ignore system-specific files
Thumbs.db
*.~lock.*

# Ignore compiled Java class files
**/*.class

# Ignore local application properties
src/main/resources/application.properties
!src/main/resources/application.properties.example

# Ignore test output
/out/test/

# Exclude IntelliJ run/debug configs
.idea/runConfigurations/
.idea/workspace.xml
.idea/gradle.xml
.idea/modules.xml
